:root {
  --navy1: #193b4d; 
  --navy2: #2B4E61;
  --navy3: #446577;
  --mint: #e2fca4;
  --mint-rgb: 226, 252, 164;
  --dark-mint: #c7ee6e;
  --white: #f4f9fd;
  --grey: #d2d9de;
  --red: #ff664e;

  --base-font-size-mobile: 25px;
  --base-font-size-desktop: 35px;
}

@media screen and (max-width: 850px) {
  body {
    background: var(--navy1);
    position: relative;
    font-size: var(--base-font-size-mobile);
  }

  .content {
    width: 100%;
    height: 50vh;
    padding: 10vh;
  }
  
  .swap {
    padding: 0vh 0vh 20vh 0vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 0px; */
    transition: transform 1s ease-in-out;
  }

  .card {
    width: 380px;
    min-height: fit-content;
    padding: 20px;
    background-color: var(--navy2);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  .congrats-card {
    max-width: 80%;
    padding: 50px;
    background-color: var(--white);
    border-radius: 10px;
  }

  .currency-selection {
    max-width: 90%;
    height: 500px;
    padding: 20px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  .swap-form ul li button {
    display: inline-block;
    color: var(--white);
    opacity: 0.5;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 0.7em;
    /* margin: 0 20px; */
    padding: 0px 20px 10px 20px;
    position: relative;
  }

  .form-section {
    width: 97%;
    padding: 15px;
    background-color: var(--navy3);
    border-radius: 10px;
  }

  .form-section-btn img {
    max-width: 30px;
    position: relative;
  }

  .chevron {
    display: block;
    width: 20px;
  }
}

@media screen and (min-width: 850px) {
  .wrapper {
    display: flex;
    flex-direction: wrap; /* Arrange items in a row on larger screens */
    justify-content: space-around; /* Optional: Add space around items */
  }

  body {
    padding: 140px;
    background: var(--navy1);
    position: relative;
    font-size: var(--base-font-size-desktop);
  }

  .content {
    width: 600px;
    height: 400px;
  }
  
  .swap {
    display: flex;
    flex-direction: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    transition: transform 1s ease-in-out;
  }

  .card {
    width: 500px;
    min-height: 550px;
    padding: 20px;
    background-color: var(--navy2);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  .currency-selection {
    width: 500px;
    height: 500px;
    padding: 20px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  .congrats-card {
    max-width: 50%;
    padding: 50px;
    background-color: var(--white);
    border-radius: 10px;
  }

  .swap-form ul li button {
    display: inline-block;
    color: var(--white);
    opacity: 0.5;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 0.7em;
    margin: 0 10px;
    padding: 0px 40px 10px 40px;
    position: relative;
  }

  .form-section {
    width: 97%;
    padding: 15px 30px;
    background-color: var(--navy3);
    border-radius: 10px;
  }

  .form-section-btn img {
    width: 30px;
    position: relative;
  }
}

.content h1 {
  color: var(--mint);
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 1.6em;
}

.content p {
  color: var(--white);
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 0.8em;
}

.form-section-info {
  max-width: 50%;
}

.form-section-info span {
  color: var(--white);
  opacity: 0.5;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 0.5em;
  white-space: nowrap;
}

#estimate {
  color: var(--mint);
  opacity: 1;
}

#from-rate,
#to-rate {
  font-size: 0.4em;
}

.form-section-btn {
  width: fit-content;
  padding: 5px 10px;
  background-color: var(--white);
  border-radius: 10px;
}

.form-section-btn:hover {
  background-color: var(--grey);
}

.form-section-btn span {
  color: var(--navy1);
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 0.5em;
}

#switch-btn img {
  width: 50px;
  fill: var(--white);
}
#switch-btn img:hover {
  opacity: 0.6;
}

/* .swap-form label {
  color: var(--white);
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 0.7em;
} */
.swap-form input {
  width: 100%;
  color: var(--white);
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 0.8em;
  background-color: transparent;
  border: none;
  outline: none;
}
.swap-form input::placeholder {
  color: var(--white);
  opacity: 0.75;
}
.swap-form input.error::placeholder {
  color: var(--red);
}

.swap-form ul li button::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  border-radius: 5px;
  height: 5px;
  transition: width 0.1s ease-out;
}

.swap-form ul li button.active::before,
.swap-form ul li button.active:hover::before {
  width: 100%;
  background-color: var(--mint);
  transition: width 0.4s ease-out;

}
.swap-form ul li button:hover::before {
  width: 100%;
  background-color: rgba(var(--mint-rgb),0.5);
  transition: width 0.4s ease-out;
}

.swap-form ul li button.active,
.swap-form ul li button.active:hover {
  opacity: 1;
}
.swap-form ul li button:hover  {
  opacity: 0.8;
}

#submit-button {
  width: 97%;
  color: var(--navy1);
  background-color: var(--mint);
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 0.5em;
}
#submit-button:hover {
  background-color: var(--dark-mint);
}

.currency-selection span {
  color: var(--navy1);
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 0.6em;
}

.currency-selection input {
  width: 400px;
  color: var(--navy1);
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 0.5em;
  background-color: transparent;
  outline: 2px solid var(--navy1);
}

#currency-selection-list {
  overflow-y: scroll;
}
.currency-selection-list-item {
  width: 450px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  gap: 10px;
}
.currency-selection-list-item img {
  width: 50px;
}
.currency-selection-list-container {
  display: flex;
  flex-direction: column;
  align-items:start;
  justify-content: center;
}
.currency-selection-list-item span {
  color: var(--navy1);
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 0.5em;
}
.currency-selection-rate {
  font-weight: 400;
  font-size: 0.4em;
  opacity: 0.5;
}

.cancel-btn {
  width: 20px;
}

.search-icon {
  width: 30px;
}

.congrats-card h2 {
  color: var(--navy2);
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 1em;
}

.congrats-card p {
  color: var(--navy2);
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 0.6em;
}